@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ingegneria dei Sistemi Informativi<br />
    Campus Area delle Scienze, 420<br />
    <abbr title="Phone">P:</abbr>
   0521 694200
</address>
<h3>Sviluppatori</h3>
<address>
      <a href="mailto:andrea.lucato@studenti.unipr">andrea.lucato@studenti.unipr</a><br />
     <a href="mailto:andrea.adorni@studenti.unipr.it">andrea.adorni@studenti.unipr.it</a>
</address>