@model Sito.Models.utenteRegistrato
@{
    ViewBag.Title = "Home Page";


}
<div class="jumbotron">
    <h1>VESTAGAMES</h1>
    <p class="lead">Vestagames è il tuo portale per ogni bisogno videoludico. Dai un'occhiata.</p>
</div>

<div class="container">
    <h3>Giochi per console</h3>
    <ul class="list-inline">
        <li><a href="#">Playstation 4</a></li>
        <li><a href="#">XBOX One</a></li>
        <li><a href="#">Nintendo Switch</a></li>
    </ul>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
</div>
