
@{
    ViewBag.Title = "Pannello Admin";
}
<body>
    <h2>Admin</h2>

    <label for="">Quello che puoi fare è:</label>
</body>
@using (Html.BeginForm())
{
    <p><button name="button" value="nome" formmethod="post" formaction=@Url.Action("Listacommessi")>Gestire il Personale</button></p>
}
@using (Html.BeginForm())
{
    <p><button name="button" value="nome" formmethod="post" formaction=@Url.Action("Listaprodotti")>Gestire il Catalogo</button></p>
}
@using (Html.BeginForm())
{
    <p><button name="button" value="nome" formmethod="post" formaction=@Url.Action("Listatransazioni")>Gestire le Transazioni</button></p>
}
@using (Html.BeginForm())
{
    <p><button name="button" value="nome" formmethod="post" formaction=@Url.Action("Listautenti")>Gestire gli utenti</button></p>
}

<div>
    @Html.ValidationMessage("Errore", new { @class = "text-danger" })
</div>
</form>

